body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: lightcoral;
    padding: 5px 5px;
    border-radius: 5px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightpink;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid lightpink;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;

}